.footer {
  position: relative;
  padding: 0 0 30px 0;
  background: #333;
}

.footer .footer-top {
  background: #040524;
  padding: 60px 0 30px 0;
}

.footer .footer-top .footer-info,
.footer .footer-top .footer-links,
.footer .footer-top .footer-contact,
.footer .footer-top .footer-newsletter {
  margin-bottom: 30px;
}

.footer .footer-top h4 {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  /* position: relative; */
  padding-bottom: 12px;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.footer .footer-top h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 50px;
  background-color: #ffffff; 
}

.footer .credit,
.footer .copyright {
  text-align: center;
  padding-top: 30px;
}

@media (min-width: 768px) {
  .footer .credit {
    text-align: right; /* Fixed the right alignment */
  }
}
